.header {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3.75rem;

  & a {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    outline: 0;

    &:focus-visible {
      & .profile {
        & div {
          box-shadow: 0 0 0 0.25rem var(--primary-200);
        }
      }
    }
  }
}

.profile {
  display: flex;
  justify-content: center;
  margin-bottom: 0.75rem;
  user-select: none;

  & div {
    border-radius: 50%;
    transition: 0.2s ease border, 0.2s ease box-shadow;
  }
}

.logo {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
}
