/* --------------------------------------------------------------
   Wrappers
   -------------------------------------------------------------- */

#wrapper {
    width: 100%;
}

#inner-wrapper {
    width: @wrapper;
}

#inner-wrapper,
.container-sm,
.container-lg {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.container-sm {
    width: @container-sm;
    padding: 0 @padding-sm;
}

.container-lg {
    width: @container-lg;
    padding: 0 0 0 @padding-lg;
}

.third {
    width: 33%;
    float: left;
}

.half {
    width: 50%;
    float: left;
}


/* --------------------------------------------------------------
   Responsive
   -------------------------------------------------------------- */

@media (max-width: 991px) {

    .container-sm {
        width: @container-sm-tablet;
    }

    .container-lg {
        width: @container-lg-tablet;
        padding: 0 @padding-sm;
    }

    .third {
        width: 50%;
    }

    .half {
        width: 100%;
    }

}

@media (max-width: 570px) {

    .container-sm {
        width: @container-sm-mobile;
    }

    .container-lg {
        width: @container-lg-mobile;
    }

    .third {
        width: 100%;
    }

}