/* --------------------------------------------------------------
   Section - Other Projects
   -------------------------------------------------------------- */

#personal {
    padding: @padding-md 0 @padding-lg 0;
    .featured-projects-heading {
        padding-bottom: @padding-md;
    }
    .personal-project {
        a {
            display: block;
            border: 2px solid @color-off-gold;
            border-radius: @border-radius;
            padding: 24px 10px;
            margin: 10px 0;
            text-align: center;
            transition: .4s all;
            &:hover, &:active, &:focus {
                border-color: @color-gold;
            }
            &:after {
                display: none;
            }
        }
    }
}

@media (max-width: 991px) {
    #personal {
        padding: 0 0 @padding-sm 0;
    }
}

@media (max-width: 575px) {
    
}