/* --------------------------------------------------------------
   Variables
   -------------------------------------------------------------- */

@font-family-primary: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-secondary: 'Open Sans', 'Noto Serif', serif;

@color-white: #fff;
@color-off-white: #f5f5f5;
@color-light-grey: #e8e8e8;
@color-silver: #ccc;
@color-grey: #8a8a8a;
@color-dark-grey: #444;
@color-off-black: #2a2a2a;
@color-black: #000;

@menu-width: 280px;
@menu-width-mobile: 220px;

@tile-height-desktop: 350px;
@tile-height-laptop: 300px;
@tile-height-tablet: 250px;
@tile-height-mobile: 200px;

@gutter: 0;

@padding-lg: 50px;
@padding-md: 40px;
@padding-sm: 30px;
@padding-xs: 30px;

@color-background: #f5f5f5;
@color-foreground: #fff;

@gradient-start: rgba(245,245,245,0);
@gradient-stop: rgba(245,245,245,1);