/* --------------------------------------------------------------
   Variables
   -------------------------------------------------------------- */

@font-family-primary: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-secondary: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@color-grey: #a9a696;
@color-black: #000;
@color-off-white: #f8f8f8;
@color-white: #fff;

@padding-lg: 60px;
@padding-md: 40px;
@padding-sm: 30px;
@padding-xs: 20px;

@animation-transform: 30px;

@wrapper: 1920px;
@container-sm: 890px;
@container-lg: 950px;

@container-sm-tablet: 540px;
@container-lg-tablet: 540px;

@container-sm-mobile: 100%;
@container-lg-mobile: 100%;

@border-radius: 3px;
@border-radius-lg: 6px;

@border-width: 1px;
@border-color: #f0ece0;
@border: @border-width solid @border-color;

@shadow: 0 6px 18px fade(@color-black, 15%);
@shadow-large: 0 6px 18px fade(@color-black, 25%);