.container {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.squiggle {
  width: 38.75rem;
  max-width: none;
  margin: 0 auto;
  display: block;
  flex-shrink: 0;

  @media (max-width: 767px) {
    width: 25rem;
    margin-top: -3rem;
  }
}
